.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    border-bottom: 1px solid rgb(196, 196, 196);
    box-shadow: 0 5px 5px rgb(223, 223, 223);
}

.img {
    width: 200px;
}

.btn1 {
    border: 1px solid #43bcf9;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.content-header {
    width: 100%;
    margin-top: 20px;
    height: 40px;
}

.btn2 {
    border: 1px solid #43bcf9;
    width: 80px;
    height: 40px;
    border-radius: 6px;
    float: right;
}

.input {
    color: rgb(151, 149, 149);
}


.absolute {
    position: absolute;
    top: 15px !important;
}

.shadow {
    box-shadow: none !important;
}

.shadow:focus {
    border-color: #6ecefd;
}

.shadow {
    border-color: rgb(190, 190, 190);
}

.btn4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(6, 214, 214) !important;
    width: 150px;
    color: wheat;
}

.btn4:hover {
    cursor: pointer;
}

.btn5 {
    border: none;
    background-color: rgb(6, 214, 214);
    color: wheat;
    width: 80px;
    height: 40px;
    border-radius: 6px;
}

.btn6 {
    border: 1px solid #43bcf9;
    color: #43bcf9;
    width: 80px;
    height: 40px;
    border-radius: 6px;
    margin-left: 12px;
}

.submit {
    width: 100%;
    display: flex;
    justify-content: end;
    justify-content: end;
}

.footer {
    margin-top: 30px;
    width: 100%;
    color: rgb(160, 158, 158);
    background-color: black;
    height: 50px;
}

.para {
    float: right;
    padding-right: 50px;
    padding-top: 10px;
    font-size: small;
}

.flag{
    width: 10px;
    height: 10px;
}



@media only screen and (max-width:450px) {
    .input {
        font-size: 12px;
    }

    .optional {
        display: none;
    }

    .header {
        height: 150px;
        padding: 0;
    }

    .img {
        width: 170px;
        height: 100px;
    }

    .btn1 {
        width: 35px;
        height: 35px;
    }

    .size {
        font-size: 12px;
    }

    .btn2 {
        width: 60px;
        height: 30px;
    }

    .font {
        font-size: 15px;
    }

    .remove {
        display: none;
    }

    .btn4 {
        width: 40px;
    }

    .btn5 {
        width: 60px;
        height: 30px;
        font-size: 10px;
    }

    .btn6 {
        width: 60px;
        height: 30px;
        font-size: 10px;
    }

    .para{
        font-size: 10px;
        padding-right: 10px;
    }
}